
:root {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #222;
}
.wrap{
  background-color: #fff;
}
.container{
  padding: 0 20px;
}

/* Header */
.header{
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: 0.5s;
}
.header .container{
  /* position: relative; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.logo{
  width: 200px;
  padding: 10px 0;
}
.main-nav{
  display: flex;
}
.main-nav li{
  padding: 15px 20px;
  cursor: pointer;
}
.main-nav li:hover:nth-child(1){
  background-color: #d5d3c7;
}
.main-nav li:hover:nth-child(2){
  background-color: #9f9b8c;;
}
.main-nav li:hover:nth-child(3){
  background-color: #aaa;
}
.main-nav li:hover:nth-child(4){
  background-color: #898c9c;
}
.main-nav li:hover:nth-child(5){
  background-color: #b4bdb9;
}
.main-nav li:hover:nth-child(6){
  background-color: #aaa;
}
.main-nav li:hover:nth-child(7){
  background-color: #aaa;
}
.main-nav li:last-child span{
  display: none;
}
.main-nav li:hover:last-child span{
  display: inline-block;
}
.r-nav{
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}
.sec-slider .container{
  padding: 0;
}
/* Header active */
.header.active{
  height: 70px;
  background-color: #fff;
}
.header.active .container{
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: end;
}
.header.active .nav{
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.header.active .r-nav li{
  display: none;
}
.header.active .r-nav li:first-child{
  display: block;
  margin-top: 15px;
}

/* slider */
.slide{
  width: 100;
  height: 100vh;
  overflow: hidden;
}

/* tab */
.sec-tab{
  margin-bottom: 40px;
}
.tab-heading{
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  background-color: #222;
  color: #fff;
  font-size: 60px;
}
.title h2 img{
  margin-top: 15px;
  margin-right: 15px;
  width: 180px;
}
.title h2 span{
  font-weight: 900;
}
.tab-nav{
  display: flex;
  align-items: center;
}
.tab-nav li.active{
  color: #aaa;
}
.tab-nav li{
  margin-right: 60px;
  font-size: 20px;
  cursor: pointer;
}
.tab-nav li:last-child{
  margin-right: 0;
}

/* tab-contents */
.tab-contents{
  display: none;
  flex-flow: row wrap;
}
.tab-contents.active{
  display: flex;
}
.content-list{
  position: relative;
  width: 20%;
  overflow: hidden;
}
.content-list::before{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(-500px);
  cursor: pointer;
}
.content-list .list-tit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%);
  color: #fff;
  text-align: center;
  font-size: 46px;
  font-weight: 900;
  cursor: pointer;
}
.content-list .list-txt{
  margin: 20px 0;
  text-align: center;
  font-weight: normal;
  /* color: #fff; */
  opacity: 0;
}
.content-list:hover::before{
  transform:translateY(-50px);
}
.content-list:hover .list-tit{
  transform: translate(-50%, -70%);
}
.content-list:hover .list-txt{
  opacity: 1;
}

/* Logo play */
.sec-logo .container{
  overflow: hidden;
  padding: 0;
  margin-bottom: 425px;
}
.logo-play{
  display: flex;
  flex-flow: row nowrap;
  animation: flowing 30s linear infinite;
  transform: translateX(0%);
}
@keyframes flowing {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.logo-play img{
  margin-bottom: 50px;
}
.logo-play img:last-child{
  margin-right: 0;
}

/* Footer */
.footer{
  background-color: #222;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.logo-sns{
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.logo-sns .sns{
  margin-bottom: 60px;
  font-size: 50px;
}
.logo-sns .sns span:first-child{
  margin-right: 10px;
}
address{
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
}
.info, .footer-about{
  margin-bottom: 60px;
}
.info span{
  margin-right: 10px;
}
.footer-about{
  display: flex;
}
.about{
  display: flex;
  flex-flow: column nowrap;
  margin-right: 90px
}
.news-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.info-use a:first-child{
  margin-right: 20px;
}
.info-use a:last-child{
  text-decoration: underline;
}
.newsletter{
  display: flex;
  align-items: center;
}
.newsletter p{
  margin-right: 10px;
}
.newsletter button{
  padding: 10px;
  color: #fff;
  background-color: #222;
  border: 1px solid #fff;
}